<ion-view hide-nav-bar="true">

    <ion-header-bar class="bar-header bar-positive">
        <button class="button button-icon icon ion-navicon" menu-toggle="left" ng-hide="$exposeAside.active"></button>
        <div class="title uppercase padding-left">
            <span ng-class="showBorrows ? 'light' : 'em-text-disable'" ng-click="toggleBorrows(showLends)">Borrows</span>
            <span class="em-padding-header">/</span>
            <span ng-class="showLends ? 'light' : 'em-text-disable'" ng-click="toggleLends(showBorrows)">Lends</span>
        </div>
        <button class="button button-icon" ng-click="popover.show($event)"></button>
    </ion-header-bar>

    <ion-header-bar class="bar-clear bar-subheader">
        <input class="filter" type="search"
               placeholder="Search expenses..."
               ng-model="query"
               ng-focus="searchFocused = true"
               ng-blur="searchFocused = false"
               ng-change="scrollTop()">
        <button class="button button-icon ion-close-circled input-button"
                ng-class="query.length > 0 ? 'ion-close-circled' : 'ion-ios7-search-strong'"
                ng-click="query = ''">
        </button>

    </ion-header-bar>

    <ion-content class="has-header">
        <!-- <ion-refresher on-refresh="refresh()"></ion-refresher>  -->

        <ion-item class="em-results em-small text-center" ng-if="query.length > 0">{{filtered.length}} Results found</ion-item>

        <ion-list>
            <ion-item class="em-item item-remove-animate"
                      ng-repeat="expense in filtered = (expenses| filter:query) track by $index"
                      ng-click="addBorrowLendModal.show(); initEditExp(expense)"
                      ng-class="{'item-bg-cleared': expense.status === 1}">
                <span class="currency" ng-bind-html="expense.currencyCode | html"></span>
                <span class="amount">{{expense.amount| numShort}}</span>
                <h2 class="title">{{expense.title}}</h2>
                <p class="subtitle">
                    <span ng-show="expense.category">{{expense.category}} &nbsp;|&nbsp;</span>
                    <span data-am-time-ago="expense.date + ' UTC'"></span>
                </p>
                <p class="notes">{{expense.notes}}</p>

                <!-- slide options -->
                <!-- <ion-option-button class="button-positive" ng-click="editExpense(expense)">Edit</ion-option-button> -->
                <ion-option-button class="button-assertive" ng-click="deleteExpense(expense.id)">Delete</ion-option-button>

            </ion-item>
            <ion-item class="padding text-center" ng-if="expenses && expenses.length === 0">
                <h3>No Borrow/Lend Added!</h3>
                <small>Click the Round plus button below to get Started!</small>
            </ion-item>
        </ion-list>
    </ion-content>
    <a ng-click="addBorrowLendModal.show(); initNewExpense()" class="float-button">
        <span class="height-fix">
            <div class="content">
                <i class="ion-plus"></i>
            </div>
        </span>
    </a>
</ion-view>