<ion-view hide-nav-bar="true">
    <ion-header-bar class="bar-header bar-positive">
        <button class="button button-icon icon ion-navicon" menu-toggle="left" ng-hide="$exposeAside.active"></button>
        <div class="title uppercase padding-left" ng-click="showCal = !showCal">
            <span ng-bind="selectedDate | date:'MMM yyyy'"></span>
            <i class="cal-icon" ng-class="showCal ? 'ion-chevron-up' : 'ion-chevron-down'"></i>
        </div>
        <button class="button button-icon ion-more" ng-click="popover.show($event)"></button>
    </ion-header-bar>

    <ion-header-bar class="bar-clear bar-subheader">
        <div ng-show="showCal">
            <div class="picker-holder--inline-fixed">
                <input id="picker_date" type="text">
            </div>
        </div>

        <div ng-init="showCal = false" ng-hide="showCal">
            <input class="filter" type="search"
                   placeholder="Search expenses..."
                   ng-model="query"
                   ng-focus="searchFocused = true"
                   ng-blur="searchFocused = false"
                   ng-change="scrollTop()">
            <button class="button button-icon ion-ios7-search-strong input-button"
                    ng-class="query.length > 0 ? 'ion-close-circled' : 'ion-ios7-search-strong'"
                    ng-click="query = ''">
            </button>
        </div>

    </ion-header-bar>

    <ion-content ng-class="showCal ? 'has-cal' : 'has-subheader'">
        <ion-item class="em-expenses-header">
            <div style="width: 45%; float: left; text-align: right;">
                <div style="color: cadetblue;">
                    <div style="font-size: 14px">Today</div>
                    <div style="font-size: 12px">Expenses / Budget <span style="font-size: 16px">&#x20B9;</span></div>
                </div>
                <div style="font-size: 24px; margin-top: 10px">{{100| numShort}} / {{1200| numShort}}</div>
            </div>
            <div style="width: 45%; float: right; text-align: left;">
                <div style="color: cadetblue;">
                    <div style="font-size: 14px">February</div>
                    <div style="font-size: 12px">Expenses / Budget <span style="font-size: 16px">&#x20B9;</span></div>
                </div>
                <div style="font-size: 24px; margin-top: 10px">{{1000| numShort}} / {{12000| numShort}}</div>
            </div>
        </ion-item>
        <!-- <ion-refresher on-refresh="refresh()"></ion-refresher> -->
        <ion-item class="em-results em-small text-center" ng-if="query.length > 0">{{filtered.length}} Results found</ion-item>

        <ion-list>
            <ion-item class="item-remove-animate"
                      ng-repeat="expense in filtered = (expenses| filter:query) track by $index"
                      ng-click="addExpenseModal.show(); initEditExp(expense)">
                <span class="currency" ng-bind-html="expense.currencyCode | html"></span>
                <span class="amount">{{expense.amount| numShort}}</span>
                <h2 class="title">{{expense.title}}</h2>
                <p class="subtitle">
                    <span ng-show="expense.category">{{expense.category}} &nbsp;|&nbsp;</span>
                    <span data-am-time-ago="expense.date + ' UTC'"></span>
                    <!-- <span ng-bind="expense.date | date: ''"></span> -->
                </p>
                <p class="notes">{{expense.notes}}</p>

                <!-- slide options -->
                <!-- <ion-option-button class="button-positive" ng-click="share(item)">Edit</ion-option-button> -->
                <ion-option-button class="button-assertive" ng-click="deleteExpense(expense.id)">Delete</ion-option-button>

            </ion-item>
            <ion-item class="padding text-center" ng-if="expenses && expenses.length === 0">
                <h3>No Expenses Added!</h3>
                <small>Click the Round plus button below to get Started!</small>
            </ion-item>
        </ion-list>
    </ion-content>
    <a ng-click="addExpenseModal.show(); initNewExpense()" class="float-button">
        <span class="height-fix">
            <div class="content">
                <i class="ion-plus"></i>
            </div>
        </span>
    </a>
</ion-view>