<ion-view view-title="Monthly Finance">
    <ion-nav-buttons side="secondary">
        <button class="button button-clear button-primary" ng-show="isFinanceModified" ng-click="updateFinance()">save</button>
    </ion-nav-buttons>
    <ion-content>
        <div class="list">
            <div class="item item-divider">Finance for Month <span class="item-note"><i class="icon" style="font-size: 16px !important; margin-right: 5px;"> February</i></span></a></div>
            <div class="item" ng-click="showEditPopup('income')">Net Income<span class="badge badge-calm">{{finance.income| numShort}}</span></div>
            <div class="item" ng-click="showEditPopup('savings')">Savings Target<span class="badge badge-balanced">{{finance.savings| numShort}}</span></div>
            <div class="range range-balanced">
                <input type="range" name="volume" min="0" max="100" ng-model="finance.range" ng-disabled="isRangeDisabled">
            </div>
            <div class="label-savings">
                <span>You save {{finance.range}}% of your Income!</span>
            </div>

            <div class="item" style="background-color: #EFEFEF">Total Expenses<span class="badge badge-assertive">{{finance.expenses| numShort}}</span></div>
            <div class="item" style="background-color: #EFEFEF">Budget Remaining<span class="badge badge-energized">{{finance.budget| numShort}}</span></div>
            <div class="item" style="background-color: #EFEFEF">Borrows<span class="badge badge-energized">{{finance.borrows| numShort}}</span></div>
            <div class="item" style="background-color: #EFEFEF">Lends<span class="badge badge-energized">{{finance.lends| numShort}}</span></div>

            <!--<div class="item">Budget Benchmark<span class="badge badge-assertive">2K</span></div>-->

            <div class="label-info">
                <span>Budget Remaining = Actual Budget + Borrows</span>
            </div>
        </div>
    </ion-content>
</ion-view>