<ion-view view-title="Help">
    <ion-content>
        <div class="list">
            <a class="item item-icon-left" href="#">
                <i class="icon ion-ios7-photos-outline"></i>App tour</a>
            <a class="item item-icon-left" href="#">
                <i class="icon ion-ios7-help-outline"></i>FAQ's</a>
            <a class="item item-icon-left" href="#">
                <i class="icon ion-ios7-chatboxes-outline"></i>Feedback</a>
            <a class="item item-icon-left" href="#">
                <i class="icon ion-ios7-email-outline"></i>Tell a friend</a>
            <a class="item item-icon-left" href="#">
                <i class="icon ion-ios7-information-outline"></i>About</a>

            <a class="item" href="#">Terms of Service</a>
            <a class="item" href="#">Privacy Policy</a>

            <a class="item" href="#">App Version <span class="item-note">0.1.0 BETA</span></a>
        </div>
    </ion-content>
</ion-view>