<ion-view view-title="Settings">
    <ion-content>
        <div class="list">
            <div class="item item-divider">GENERAL</div>
            <div class="item">Default Currency<span class="badge badge-dark">$</span></div>
            <div class="item" ng-click="categoriesModal.show()">Manage Categories<span class="item-note">Food, Grocery...</span></div>
            <div class="item item-toggle">Confirm before delete<label class="toggle toggle-positive">
                    <input type="checkbox">
                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
            </div>

            <div class="item item-divider">REPORTS</div>
            <div class="item">Email Frequency<span class="item-note">Weekly</span></div>

            <div class="item item-divider">NOTIFICATIONS</div>
            <div class="item item-toggle">Push Notifications<label class="toggle toggle-positive">
                    <input type="checkbox" checked>
                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
            </div>
            <div class="item item-toggle">Notify via Email<label class="toggle toggle-positive">
                    <input type="checkbox" checked>
                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
            </div>

            <div class="item item-divider">ACCOUNT</div>
            <!-- <a class="item" href="#">Change Email<span class="item-note">user@gmail.com</span></a> -->
            <div class="item">Change Password</div>
            <div class="item" ng-click="showLogoutPopup()">Logout</div>
            <!-- <div class="item" ng-click="showDeleteAccountPopup()">Delete account</div> -->

        </div>

    </ion-content>
</ion-view>