/* Empty. Add your own CSS if you like */
body {
    font-family: 'Roboto', serif;
}

#welcome-view {
    background: url(../img/welcome_bg.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}

.logo-welcome {
    width: 120px;
    height: 120px;
    margin: 100px auto 60px auto;
    background: url(../img/ionic.png) no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
}

.login-btns {
    width: 250px;
    margin: 0 auto 0 auto;
}

#btn-reg {
    float: right;
}

#login-divider {
    margin: 40px 0 10px 0;
}

#footer {
    background: #5A5A5A;
    opacity: 0.4;
    color: #fff;
}

.uppercase {
    text-transform: uppercase;
}

#btn-reg, #btn-login {
    color: white;
}

.em-small {
    font-size: 16px;
    text-decoration: none;
}

#menu-item-profile {
    padding: 15px;
}

#menu-item-profile img {
    height: 50px;
    width: 50px;
    float: left;
}

#menu-item-profile .titles {
    height: 50px;
    display: table-cell;
    vertical-align: middle;
    padding-left: 18px;
}

#menu-item-profile .em-subtitle {
    font-size: 14px;
    color: darkgrey;
}

.float-button {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    padding: 25px;
    font-size: 24px;
    background: #62bdbc;
    position: fixed;
    bottom: 20px; /* Adjust to where you want it */
    right: 20px; /* Adjust to where you want it */
    z-index: 9999;
    -webkit-box-shadow: 2px 2px 5px 2px rgba(112,112,112,0.2);
    -moz-box-shadow: 2px 2px 5px 2px rgba(112,112,112,0.2);
    box-shadow: 2px 2px 5px 2px rgba(112,112,112,0.2);
}

.float-button .height_fix {
    margin-top: 100%;
}

.float-button .content {
    position: absolute;
    left: 0;
    top: 50%;
    height: 100%;
    width: 100%;
    text-align: center;
    margin-top: -12px; /* Note, this must be half the font size */
    color: #fff;
}

.item .amount {
    font-size: 26px;
    float: right;
    height: 50px;
    line-height: 52px;
    width: 72px;
    font-weight: lighter;
    color: mediumturquoise;

    text-align: right;
    /*    text-shadow: 1px 1px 1px lightgray;*/
}

.item .currency {
    font-size: 16px;
    float: right;
    height: 50px;
    line-height: 55px;
    padding-left: 5px;
    font-weight: 300;
    color: darkgray;

    /*    text-shadow: 1px 1px 1px lightgray;*/
}

.item .title {
    color: #424242;
}

.item .subtitle,  .item .notes{
    color: #A4A4A4;
    padding-top: 5px;
}

.em-item .item-content {
    padding: 10px 20px 10px 15px;
}

.item .notes {
    font-size: 12px;
}

.button.button-icon.input-button {
    position: absolute;
    right: 0;
    top: 5px;
    color: #bbb;
}

.filter {
    padding: 0 10px 0 10px !important;
    font-size: 15px !important;
}

.em-results {
    height: 32px;
    line-height: 20px;
    padding: 5px;
    text-align: center;
    font-size: 14px;
}

.bar .title {
    font-weight: bold;
    text-align: center !important;

}

.has-cal {
    top: 370px;
}

#picker_date {
    background: transparent;
    height: 0;
    padding: 0;
}

.cal-icon {
    padding: 5px;
}

.title-footer {
    font-size: 14px !important;
    font-weight: lighter !important;
}

.em-icon {
    font-size: 36px !important;
}

.em-text-disable {
    color: lightgrey;
}

.em-text-enable {
    color: initial;
}

.em-padding-header {
    padding: 2px;
}

.em-menu {
    border-width: 1px 0 1px 0 !important;
    border-color: rgba(202, 202, 202, 0.25);
}

.item.activated, item.active {
    background: #C0EBEB !important;
}

#em-profile {
    padding: 30px;
    text-align: center;
}

#em-profile img {
    height: 75px;
    width: 75px;
}

.em-gender .item-checkbox {
    padding-left: 50px !important;
    font-size: 14px;
    border-width: 0;
    padding: 10px 0px 10px 0px;
    margin: 0px;
}

.em-footer-title {
    font-weight: normal !important;
}

ion-popover-view.fit {
    height: auto !important;
}

ion-popover-view.fit ion-content {
    position: relative !important;
}

.platform-android ion-popover-view.fit {
    margin-top: 10px !important;
}